@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-dark">Customer Support System (CSS)</h1>
    <p class="lead">A customer support system by virtual agents.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <div class="p-3">
        <h5>Admin Account</h5>
        <h6>Email - admin@gmail.com</h6>
        <h6>UserType - Admin</h6>
    </div>
    <ul>
        <li>If entered a new email,user is registered, agent is assigned and user gets logged in.</li>
        <li>If user email already exists logged in and show the agent name.</li>
        <li>Only Admin Email with admin drop down shows the details of each agent.</li>
        <li>Data Access using EF6,Dapper</li>
    </ul>
</div>
